<script src="../helpers/route.js"></script>
{{#if success}}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{success}}
  </div>
{{/if}}

<!--Errores y mensajes-->
{{#if message}}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      {{message}}
  </div>
{{/if}}

{{#if alert}}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    <button type="button" class="btn btn-primary"  href='javascript:;' onclick="opEmer(1,{{id}});";>Acept</button>
    {{alert}}
  </div>
{{/if}}
