
body {
 background: #1488CC;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
div.card {
  /* border-left: 6px solid blue; */
  margin: 30px 30px 30px 30px;
  /* background-color: #1c49ff; */
  background: rgba(186,186,186,1);
background: -moz-linear-gradient(left, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(191,191,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,186,186,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(77%, rgba(186,186,186,1)), color-stop(100%, rgba(191,191,191,1)));
background: -webkit-linear-gradient(left, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(191,191,191,1) 100%);
background: -o-linear-gradient(left, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(191,191,191,1) 100%);
background: -ms-linear-gradient(left, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(191,191,191,1) 100%);
background: linear-gradient(to right, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(191,191,191,1) 100%);
  border-radius: 5px;
}

.logo {
 width: 30%;
}
