<head>
<body id="top">
  <header id="home">
    <section class="hero" id="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center inner">
            <h1 class="animated fadeInDown" >EMV<span style="background-color:#000;">Center</span></h1>
            <p class="animated fadeInUp delay-05s" style="color:#232323ff;">Llegando primero a <em>ti</em></p>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="intro text-center section-padding" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 wp1">
          <h1 class="arrow">App Emv</h1>
          <p>Nuestra app <a href="#">App Emv</a>. busca una comunicación directa entre los servicios de emergencia y los usuarios, acotando los tiempos de espera y brindando una sistema al alcance de todos.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="features text-center section-padding" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow">Lo hacemos por ti</h1>
          <div class="features-wrapper">
            <div class="col-md-4 wp2">
              <div class="icon">
                <i class="fa fa-laptop shadow"></i>
              </div>
              <h2>Plataforma Digital</h2>
              <p>Usando todos los recursos que nos brinda una terminal movil,recopilamos una sere de informacin que nos ayuda antender de forma pronta las emegencias.</p>
            </div>
            <div class="col-md-4 wp2 delay-05s">
              <div class="icon">
                <i class="fa fa-code shadow"></i>
              </div>
              <h2>Web</h2>
              <p>Todo este sistema se encuentra soportado con una central de comunicación, la cual permanece atenta a todas las emergencias.</p>
            </div>
            <div class="col-md-4 wp2 delay-1s">
              <div class="icon">
                <i class="fa fa-heart shadow"></i>
              </div>
              <h2>Creative Direction</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              primis in faucibus.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="text-center" id="responsive">
    <div class="container-fluid nopadding responsive-services">
      <div class="wrapper">
        <div class="iphone">
          <div class="wp3"></div>
        </div>
        <div class="fluid-white"></div>
      </div>
      <div class="container designs">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <div id="servicesSlider">
              <ul class="slides">
                <li>
                  <h1 class="arrow">Responsive Design Specialists</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                  <p>
                  Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                  <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="swag text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>EmV Center<span>but <em>design</em> 'aint one</span></h1>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-bg text-center section-padding contact-wrap" id="contact">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow">contactos</h1>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col-md-4">
          <div class="light-box box-hover">
            <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
            <p>Level 6, 23 Pitt St, Sydney</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="light-box box-hover">
            <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
            <p>+57 314 839 4113</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="light-box box-hover">
            <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
            <p><a href="#">jfpadilla@uqvirtual.edu.co</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
