

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Form Registro | Personal</title>
      <link rel = "stylesheet" href="/css/logcss.css">
  <body>
      <div class="login-box">
      <img src="/images/EMV.png" class="avatar" alt="Avatar Image">
      <h1>Registro</h1>
      <form  action="/person/new-person" method="post" >
        <!-- Usuario -->
        <input type="text" placeholder="Nombre" name="Username" value={{Username}}>

        <!-- cargo -->
        <input type="text" placeholder="Cargo" name="cargo"value={{cargo}}>

        <!-- ID -->
        <input type="text" placeholder="Documento de identidad" name="idcc"value={{idcc}}>

      <input type="submit"  class="btn btn-primary" data-toggle="modal" data-backdrop="false" data-target ="#enable" value="REGISTRAR" >
          <!--<!<input type="submit" value="LIMPIAR">-->
        <a style="font-size:120%;" href="/central">Regresar</a><br><br>
        <a style="font-size:120%;" href="/tablaper">Personal</a>
      </form>
    </div>
  </body>
